<nav class="navbar navbar-fixed-top">
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/@saenzagphotos" target="_blank"><i class="fa fa-twitter" aria-hidden="true" style="color: orange;"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/whamo12" target="_blank"><i class="fa fa-github" aria-hidden="true" style="color: orange;"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.instagram.com/saenzagphotos/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="color: orange;"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.youtube.com/channel/UCNiuhaCrRY_4MgU46-o-0vQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true" style="color: orange;"></i></a>
    </li>
  </ul>
</nav>